<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MermaRuby</title>
</head>
<body>
    <h1>
        Merma Ruby
    </h1>
    <% if !current_user %>
        <h2><%= link_to 'Sign Up Now', new_user_registration_path %></a></h2>
        <%= link_to 'or Sign In', new_user_session_path %>
    <% else %>
        <%= link_to "Log Out", destroy_user_session_path,  method: :delete %>
    <% end %>
</body>
</html>
